{% extends "base.html" %}
{% block content %}
    <div class="card shadow">
        <div class="card-body">
            <form method="GET" action="/history">
                <input type="text" name="search" class="form-control mb-2" placeholder="Поиск..." value="{{ request.args.get('search', '') }}">
                <select name="search_type" class="form-select mb-2">
                    <option value="both" {% if request.args.get('search_type') == 'both' %}selected{% endif %}>Все</option>
                    <option value="prompt" {% if request.args.get('search_type') == 'prompt' %}selected{% endif %}>По запросу</option>
                    <option value="response" {% if request.args.get('search_type') == 'response' %}selected{% endif %}>По ответу</option>
                </select>
                <button type="submit" class="btn btn-primary">Искать</button>
            </form>

            <table class="table table-bordered">
                <tr class="table-primary">
                    <th>Запрос</th>
                    <th>Ответ</th>
                </tr>
                {% for i in history %}
                <tr>
                    <td>{{ i.prompt }}</td>
                    <td>{{ i.response }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
